.contacts {
	min-height: calc(100vh - 210px);
	position: relative;
	display: flex;
	align-items: center;

	@media (max-width: em(1024)){
		padding: 40px 0;
		flex-direction: column;
	}
}

.contacts__container {
	width: calc(100% - 30px);
}

.contacts__title {
	margin-bottom: 40px;
	line-height: 1.17;
	font-size: 46px;
	font-weight: 600;
	text-transform: uppercase;

	@media (max-width: em(972)){
		margin-bottom: 30px;
		font-size: 32px;
	}
}

.contacts__content {
	font-size: 16px;

	h2 {
		margin-bottom: 12px;
		font-weight: 700;
	}

	p {
		&:not(:last-child) {
			margin-bottom: 5px;
		}
	}

	a {
		text-decoration: underline;
		color: $accent;
	}

	.contacts__item {
		margin-bottom: 30px;
	}

	@media (max-width: em(972)){
		font-size: 14px;
	}
}

.contacts__map {
	position: absolute;
	top: 0;
	right: 0;
	width: 55%;
	height: 100%;
	background-image: url('@img/decor/map.png');
	background-repeat: no-repeat;
	background-position: 100% 0;
	background-size: 100% 100%;

	@media (max-width: em(1366)){
		width: 65%;
	}

	@media (max-width: em(1024)){
		position: relative;
		width: 100%!important;
		min-height: 620px;
		background-size: calc(100% + 380px) 100%;
	}

	@media (max-width:$mobile){
		min-height: 420px;
	}

	@media (max-width:$mobileSmall){
		min-height: 320px;
		background-image: url('@img/decor/map-mobile.png');
		background-size: cover;
	}
}

.contacts__marker {
	position: absolute;
	top: 33%;
	right: 40%;
	width: 86px;
	height: 86px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url('@img/decor/marker.svg');
	background-repeat: no-repeat;
	background-position: center;

	@media (max-width: em(1024)){
		width: 64px;
		height: 64px;
		background-size: contain;

		img {
			width: 19px;
			height: 24px;
		}
	}
}